<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- I used the below code to run only a specific test case out of 50 Test 
		Cases -->
	    <!-- Specific Test Case Run -->
    <test name="SingleTestCase">
        <classes>
            <class name="myTest.Program1">
                <methods>
                    <include name="scrollAndClickBrokenLink" />
                </methods>
            </class>
        </classes>
    </test> <!-- End of SingleTestCase Test -->

    <!-- Smoke Test Group Run -->
    <test name="smoke">
        <groups>
            <run>
                <include name="smoke" />
            </run>
        </groups>
        <classes>
            <class name="myTest.Program1" />
        </classes>
    </test> <!-- End of smoke Test -->

</suite> <!-- End of Suite -->